body{
    max-width: 1366px;
    max-height:768px;
    background-image: url(../images/learning_journal_back.jpg);
    background-size:cover;
    width:80%;
    margin:auto;
}
main{
    text-align: left;
    width:70%;
    margin:auto;
    
    font-size: 18px;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.paragraph{
    column-count: 3;
    column-gap: 40px;
    column-rule:3px solid rgb(116, 12, 12);
    

    
}
h1{
   font-size:60px;
   margin-left:15%;
   text-shadow:3px 3px 2px rgb(146, 146, 146);
   color:rgb(116, 12, 12);
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.paragraph::first-letter {
    font-size: 5em;
    padding-bottom:10px;
    padding-top:25px;
    padding-right:7px;
    color:rgb(116, 12, 12);
    
    float:left;
    
    

    
}
#validator li{
    list-style: none; 
}
#validator{
    display:flex;
    justify-content: center; 
    margin-top:1%; 
    flex-wrap: wrap;
    gap:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
 
    
}
#validator>li{
    margin:10px;
    
}

#validator li a{
    padding:5px;
    text-decoration: none;
    color: rgb(116, 12, 12);

   
   
    
    
    

}
#validator li a:hover{
    border-bottom: rgb(116, 12, 12) 3px solid;

}
p a{
    color: rgb(116, 12, 12);
    text-decoration:underline rgb(116, 12, 12);
}
p a:hover{
    color: rgb(192, 0, 0) ;
}
p{
    margin-top:40px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
article{
    margin-bottom: 100px;
}

time{
    color:rgb(116, 12, 12);
    font-weight: bold;
    
    
   
    

}

    



