@font-face{
    font-family: narufont;
    src:url(/des157/studio1/font/njnaruto.ttf);



}

body{
    overflow:hidden;
    max-width: 1366px;
    max-height:768px;
    background-color: #fccd88;
    background:url(images/background1.jpg);
    background-size:cover;
    animation:fadeinFromTop .5s linear forwards;
    
}
#ninja{
    left:45%;
    position: relative;
    font-family:narufont;
    font-size: 3.3em;
    color:rgb(255, 94, 0);
    letter-spacing: 5px;
    text-shadow: 2px 2px #030303;
    


}

    


/* ///////////form////////////// */
label, input{
    display:block;
    font-size: 1.6em;
    margin-bottom:15px;
    font-family: 'Nunito', sans-serif ;
    font-weight: bold;
}
select{
    padding:10px 30% 20px 10px;
    border:black 1px solid;
    padding:15px 30px;
    margin-bottom:30px;
    font-family: 'Nunito', sans-serif ;
    font-size: 1.3em;
    border-radius:15px;
    appearance:none;
    box-shadow:0 10px 25pz black;
    background:rgb(255, 240, 216);
    max-width:300px;
    text-align: left;
    color:rgb(0, 0, 0);
    box-shadow: 1px 12px 8px -2px rgba(0,0,0,0.28); 
    box-shadow: 1px 12px 8px -2px rgba(0,0,0,0.28);
    
    
   
   
    
    
    
}

select:hover{
    border: rgb(255, 94, 0)  solid 1px;
    
}
option[type=text], select{
    width:100%;
   
    
}


input{
    position: absolute;
    top:10%;
    left:16%;
    text-align: center;
    border:black solid 1px;
    padding:10px 5px 10px 5px;
    background:rgb(255, 240, 216);
    border-radius: 15px;
    box-shadow: 1px 12px 8px -2px rgba(0,0,0,0.28); 
    box-shadow: 1px 12px 8px -2px rgba(0,0,0,0.28);
    animation:fadeinFromTop .5s linear forwards;
}
input:hover{
    border: rgb(255, 94, 0)  solid 1px;
}
    


section{
    display:flex;
    justify-content: space-around;
    
   
    
  

    
}
article{
    font-size: 2em;
    margin-right:.5em;
}

button{
    font-size:3em;
    border:none;
    background: none;
    padding:10px 20px 10px 20px;
    position: absolute;
    bottom:1%;
    right:1%;
    font-family:narufont;
    color:rgb(255, 94, 0);
    text-shadow: 2px 2px #030303;
    letter-spacing: 5px;
}
button:hover{
    
    text-shadow: 2px 5px #030303;
    

}

/* //////////// Key Image/ animation///////////////  */
#naru{
    position:absolute;
    width:484px;
    height:auto;
    margin-left:15%;
    top:22%;
    transform-origin: center;
    animation:fadeinFromTop .5s linear forwards;
}
#rasengan{
    width:100px;
    position:absolute;
    margin-left:42%;
    top:50%;
    transform-origin: center;
    animation:fadeinFromTop .5s linear forwards, floating ease-in 4s infinite;

}
@keyframes fadeinFromTop{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes floating{
    0%{
        transform:translate(0%, 0%) rotate(360deg);
    }
    25%{
        transform:translate(2%, 20%) rotate(360deg);
    }
    50%{
        transform:translate(1%, 5%) rotate(360deg);
    }
    75%{
        transform:translate(3%, 25%) rotate(360deg);
    }
    100%{
        transform:translate(0%, 0%) rotate(360deg);
    }

}



/* /////////////overlay////////////////////////// */
.hidden {
    display: none;
}

.showing {
    display: block;
}


/* ///////////////Reult////////////////// */
span{
    color:rgb(255, 94, 0);
}
#resulth1{
    text-align: center;
    margin-top:5%;
    font-family:narufont;
    font-size: 4em;
    color:rgb(255, 94, 0);
    letter-spacing: 5px;
    text-shadow: 2px 2px #030303;

}
p{
    text-align: center;
    width:60%;
    margin:auto;
    font-family:narufont;
    font-size:2em;
    line-height: 60px;
    letter-spacing: 2px;
    
}
footer{
    position:absolute;
    bottom:1%;
}
footer li:first-child{
    list-style: none;
    margin-bottom:30px;
    
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color:rgb(255, 94, 0);
    font-family:narufont;
    font-size: 2em;
    text-shadow: 2px 2px #030303;
    

}
footer a:hover{
    text-shadow: 2px 3px #030303;

}



